[submodule "terryfy"]
	path = terryfy
	url = https://github.com/MacPython/terryfy.git
[submodule "research/esaxx"]
	path = research/esaxx
	url = https://github.com/hillbig/esaxx
[submodule "Serialize"]
	path = external/match_serialize
	url = https://github.com/farruggia/match_serialize.git
